<div class="container">
  <div class="row text-center">
    <h2 class="m-0 my-4 fw-bold text-uppercase">courses</h2>
  </div>
  <div class="row">
    @for(course of courses; track $index) {
    <div class="col-lg-4 col-md-6">
      <app-courses [course]="course"></app-courses>
    </div>
    }
  </div>

  <!-- @for (post of posts; track $index) {
  <ul>
    <li>{{ post.userId }}</li>
    <li>{{ post.id }}</li>
    <li>{{ post.title | uppercase }}</li>
    <li>{{ post.body }}</li>
  </ul>
  } -->
</div>
